// Your variable overrides
$primary: #ff5100;
// html
html {
  display: flex;
}
@media (min-width: 768px) { 
  html {
    display: block;
  }
 }
// HeroCarousel
.image-container {
    width: 100%; /* Full width */
    padding-top: 56.25%; /* Aspect ratio of 16:9 */
    position: relative; /* For absolute positioning of the image */
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the container, cropping the image if necessary */
  }
  


// Import Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';
